{% with appname="MessageBoard" %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title }} - {{ appname }}</title>
        {% else %}
            <title>{{ appname }}</title>
        {% endif %}

        {% load static %}
        <link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        {% block includes %}
        {% endblock includes %}

    </head>
    <body>
    {% block rawcontent %}

    {% endblock %}
    </body>
    </html>
{% endwith %}