{% extends '_basepage.html' %}

{% block includes %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/boardview.css" %}">
{% endblock %}

{% block content %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ board.name }}
                    {% if user.is_authenticated %}
                        {% load guardian_tags %}
                        {% get_obj_perms user for board as "board_perms" %}
                        {% if "delete_this_board" in board_perms %}
                            <a href="{% url "deleteboard" board.id %}" class="delete" style="top: 10px"></a>
                        {% endif %}
                    {% endif %}
                </h1>
                {% if board.description %}
                    <h2 class="subtitle has-text-weight-light">{{ board.description }}</h2>{% endif %}
                <a class="button is-rounded is-pulled-right" id="newpost" href="{% url 'newpost' board.id %}">Create a
                    new post</a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% for post in posts %}
                {% include "_postview.html" with post=post %}
            {% endfor %}
        </div>
    </section>
{% endblock %}