{% extends "_basepage.html" %}

{% block content %}
    <section class="hero is-dark is-medium is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome to {{ appname }}
                </h1>
                <h2 class="subtitle">
                    Click on one of the boards in the navigation bar to join the conversations!
                </h2>
            </div>
        </div>
    </section>
{% endblock %}