{% extends '_skeleton.html' %}

{% block includes %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block rawcontent %}
    <section class="section">
        <div class="container">
            <div id="logincard" class="card">
                <div class="card-header">
                    <h1 class="card-header-title is-centered">Login</h1>
                </div>
                <div class="card-content">
                    <form method="POST">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        <div class="field">
                            <label class="label" for="{{ form.username.id_label_for }}">Username</label>
                            <div class="control">
                                {{ form.username | add_class:"input" }}
                            </div>

                            {% if form.username.errors %}
                                {% for error in form.username.errors.data %}
                                    <p class="help is-danger">{{ error.message }}</p>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="field">
                            <label class="label" for="{{ form.password.id_label_for }}">Password</label>
                            <div class="control">
                                {{ form.password | add_class:"input" }}
                            </div>
                            {% if form.password.errors %}
                                {% for error in form.password.errors.data %}
                                    <p class="help is-danger">{{ error.message }}</p>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <input type="submit" class="button is-info" value="Login / Signup">
                            </div>
                        </div>
                    </form>
                    <br>
                    <p id="createinfo" class="has-text-grey-light">To create a new account just enter a
                        username/password combination.
                        <br>If no account with that
                        username exists, a new one will be created for you.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}