{% extends '_basepage.html' %}

{% block includes %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/boardview.css" %}">
{% endblock %}

{% block content %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Create a new board</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                <div class="field">
                    <label class="label" for="{{ form.name.id_label_for }}">Board name</label>
                    <div class="control">
                        {{ form.name | add_class:"input" }}
                    </div>

                    {% if form.name.errors %}
                        {% for error in form.name.errors.data %}
                            <p class="help is-danger">{{ error.message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label has-text-grey has-text-weight-normal" for="{{ form.description.id_label_for }}">Board description (optional)</label>
                    <div class="control">
                        {{ form.description | add_class:"input" }}
                    </div>

                    {% if form.description.errors %}
                        {% for error in form.description.errors.data %}
                            <p class="help is-danger">{{ error.message }}</p>
                        {% endfor %}
                    {% endif %}

                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <a class="button is-light" href="/" type="reset">Cancel</a>
                        <input type="submit" class="button is-dark" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}